$background: #24361f;
$background-darker: #3a4736;
$border: #6d6d92;
$foreground: #dec692;
$highlight: #6d6d92;
$highlight-focused: #dfb356;
$selection: #292346;
$current-line: #26202c;

$keyword: #efa6a2;
$variable: #ba74b2;
$label: #ccaced;
$function: #c8c874;
$string: #a3b8ef;

$warning: #c8c874;
$error: #efa6a2;
